node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# expo
expo-env.d.ts
ServiceAccountFriendo.json
google-services.json
GoogleService-Info.plist
apple-app-site-association

# firebase/supabase/vexo
.env
.env*.local

ios
android

# macOS
.DS_Store
*.pem

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# debug
yarn-debug.*
yarn-error.*

# typescript
*.tsbuildinfo